/* HEADER SECTION */

.e-header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($primary-green-light, 0.8),
      rgba($primary-green-dark, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  /* clip-path: polygon(x y, x y, x y); */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* clip-path: polygon(50% 0, 100% 100%, 0 100%); Triangle */

  &--brand {
    position: absolute;
    left: 4rem;
    top: 4rem;
    &__img {
      height: 3.5rem;
    }
  }

  &--text-box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
