*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 10px; */
  /* 1rem = 10px 10/16 in % this define what 1rem is*/
  font-size: 62.5%;
  /* 100% <=> 16px par default */
  /* font-size: 100%; */
  @include respond(tab-land) {
    // width < 1200?
    // 1rem = 9px 9/16 = 56.25%
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    // width < 900?
    // 1rem = 8px 8/16 = 50%
    font-size: 50%;
  }
  @include respond(big-desktop) {
    // 1rem = 12px 12/16 =
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

::selection {
  background-color: $primary-green-light;
  color: $white;
}
